@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #252f5f 0%, #051737 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  width: 100%; 
  max-width: 500px; 
  height: 400px;
  overflow-y: auto;
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 22px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
   gap: 10px;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 18px; /* Smaller font size */
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 6px 16px; /* Smaller padding */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GitHub Button Styling */
.githubButton {
  display: flex;
  align-items: center;
  padding: 8px 16px; /* Adjusted padding */
  background-color: var(--color-primary);
  color: #fff;
  gap: 8px; /* Smaller gap */
  text-decoration: none;
  border-radius: 100px;
  transition: background-color 0.3s;
}

/* GitHub Button Hover Styling */
.githubButton:hover {
  background-color: var(--color-dark);
}

.githubLogo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.buttonText {
  font-size: 20px;
}
@media (max-width: 830px) {
  .container {
    width: 80%;
    padding: 12px 16px;
    height: auto;
  }

  .title {
    font-size: 22px;
  }

  .description {
    font-size: 16px;
  }

  .skills {
    margin-top: 12px;
    gap: 10px;
  }

  .skill {
    font-size: 18px;
    padding: 2px 12px;
  }

  .links {
    margin-top: 16px;
    gap: 12px;
  }

  .link {
    font-size: 14px;  /* Even smaller font size for mobile */
    padding: 4px 12px;  /* Even smaller padding */
  }

  .githubButton {
    padding: 6px 12px; /* Smaller padding on mobile */
    gap: 6px; /* Smaller gap */
  }
}
