@import "../../vars.css";

.blackbox{
    background-color: rgba(21, 21, 21, 0.6);
    padding: 73px;
    border-radius: 15px ;
    position: relative;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 129px;
}
.title{
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.journeyList {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
}

.journeyItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 15px;
    background-image: linear-gradient(
      90deg,
      rgba(165, 215, 232, 0.42) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}
.journeyItem:hover {
    background-size: 100% 100%;
}
.journeyItem h3 {
    font-size: 25px;
    font-weight: 600;
}
.journeyItem img {
  width: 80px; 
  height: 80px;
  border-radius: 50%; 
  margin-right: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease;
}

.journeyItem img:hover {
  transform: scale(1.1); 
} 
.journeyItem p {
    font-size: 23px;
}
@media screen and (max-width: 830px) {
    .blackbox {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      background-color: rgba(12, 12, 12, 0.6);
      margin-top: 10px;
    }
  
    .container {
      flex-direction: column;
    }
    
      .title{
        font-size: 20px;
        margin-left: 15px;
      }
    
    .journeyImage {
      display: none;
    }
  
    .journeyList {
      margin-top: 29px;
    }
  
    .journeyItem {
      padding-left: 0;
      gap: 10px;
      padding-right: 0;
    }
    .journeyItem h3 {
      font-size: 20px;
      
  }
    
  .journeyItem p {
      font-size: 18px;
  }
}
  